*,*::after,*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  backdrop-filter: blur(5px); 
  object-fit: cover;
  background-color: hsl(200, 100%, 85%);
  color: hsl(180, 8%, 97%);
  font-family: sans-serif;
}

.bluer{
  filter: blur(3px);
  overflow: hidden;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-right: 2px solid hsl(0, 0%, 100%);
  gap: 40px;
}

.wether-icon{
  width: 40px;
  height: 40px;
  object-fit: cover;
  
}

.wether-icon.large{
  width: 80px;
  height: 100%;
  
}

.header-current-temp{
  font-size: 2rem;
}

.header-right{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2,auto);
  gap: 40px;
  width: 50%;
  justify-content: space-evenly;
  
  margin: 1rem;
}
.info-group{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.info-group .lable{
  font-size: 1rem;
  font-weight: bold;
  margin-block: 10px;
  text-transform: uppercase;
}
.day-section{
  display: grid; 
  grid-template-columns: repeat(auto-fit,75px);
  place-content: center;
  margin-block-start: 50px;
  gap: 50px;
  width: 100%;
}

.day-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  padding-inline: 10px;
}

.day-card img{
  width: 30px;
  margin-block-end: 10px;
}

.day-card .day-card-day{
  font-size: .8rem;
  margin-block-end: 10px;
  
}

.day-card .day-card-temp{
  font-weight: bold;
  font-size: 1.2rem;
}

.hourse-section{
  color: hsl(200, 20%, 94%);;
  width: 100%;
  text-align: center;
  border-spacing: 1;
  margin-block-start: 30px;
}

.hour-row{
  background-color: hsla(200, 100%, 75%, 0.041);
  padding-block: 20px;
  opacity: 8;
}

.hour-row  *{
  padding: 5px;
}

.hour-row:nth-child(2n){
  background-color: hsla(200, 100%, 70%, 0.064);
}

.hour-row > td{
  padding: 0.25rem 0.5rem;
}


@media (max-width:768px) {
  .header-left{
    flex-direction: column;
  }

  .header-right{
    grid-template-columns: repeat(2,1fr);
  }

  .hour-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}